@import '../../../../styles/variables.scss';

:host {
    display: block;
    width: 100%;
    height: 100%;
    font-size: 14px;
    letter-spacing: 0.7px;

    .select {
        position: relative;

        &__value {
            margin-right: 10px;
        }

        &__chevron {
            transition: .3s transform ease-out;
            transform: rotate(180deg);

            &--opened {
                transform: rotate(0deg);
            }
        }

        &__options {
            position: absolute;
            top: 30px;
            border: 1px solid $black;
            padding: 20px 16px;
        }

        &__option {
            margin-top: 16px;

            &:first-child {
                margin-top: 0;
            }
        }

        &__option-button {
            width: 100%;
            text-align: right;
        }
    }
}