@import '../../../../styles/variables.scss';

:host {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background: $white;

    .header {
        height: 80px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 125px 0 calc(50% - 53px);
    }

    .cart {
        display: flex;
        align-items: center;

        &__counter {
            display: inline-block;
            width: 20px;
            height: 20px;
            line-height: 20px;
            margin-left: 8px;
            text-align: center;
            font-size: 14px;
            font-weight: 500;
            color: $white;
            background: $black;
        }
    }
}